@model AllStoresWrapper

<div class="col-sm-6 text-right">
                <a href="/dashboard">Dashboard</a> | <a href="/logout">Log Out</a>
            </div>



 <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <table class="table">
                    <thead>
                        <th>Store Name</th>
                        <th>Location</th>
                        <th>Action(s)</th>
                    </thead>
                    <tbody>
                        @foreach(Store store  in Model.AllStores)
                        {
                            <tr>
                                <td>@store.StoreName</td>
                                <td>@store.Location</td>
                                <td> placeholder   </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>